.cstyle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #e0146a, #e29cd0);
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    fontFamily: Courgette-Regular;
    marginTop:15;
    fontSize:45;
    animation-name: headerAnim;
    animation-duration: 4s;
}

@keyframes headerAnim {
    from {color: black;}
    to {color: yellow;}
}


